<h3>Droplist</h3>
<fieldset class="fieldSet">
	<legend>General</legend>
	<div class="fieldWithLabel">
		<label for="id">Droplist internal ID:</label>
		<input type="text" size="30" id="id" class="field at-input-id" ng-model="obj.id" />
	</div>
	<div class="fieldWithLabel">
		<label for="stages">Items dropped</label>
		<table class="field" id="items">
			<thead><tr>
				<th id="itemID">Item (id)</th>
				<th id="quantity">Quantity (range)</th>
				<th id="chance">Chance</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="dropItem in obj.items">
					<td><input type="text" ng-model="dropItem.itemID" class="at-input-id" /></td>
					<td>
						<input type="text" size="3" ng-model="dropItem.quantity.min" class="at-input-quantity" />
						-
						<input type="text" size="3" ng-model="dropItem.quantity.max" class="at-input-quantity" />
					</td>
					<td><input type="text" size="3" ng-model="dropItem.chance" class="at-input-chance" /></td>
					<td><a ng-click="removeDropItem(dropItem)" class="btn btn-mini" title="Remove row"><i class="icon-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addDropItem()" class="btn" title="Add row"><i class="icon-plus-sign"></i> Add</button>
	</div>
</fieldset>
<div class="endSets"> </div>
