<div id="editItem">
<h3>Item</h3>
<fieldset class="fieldSet">
	<legend>General</legend>
	<div class="fieldWithLabel">
		<div id="itemimage" class="field"><input type="hidden" id="iconID" ng-model="obj.iconID" /></div>
	</div>
	<div class="fieldWithLabel">
		<label for="name" class="label">Display name:</label>
		<input class="field" type="text" size="30" id="name" class="fieldInput" ng-model="obj.name" />
	</div>
	<div class="fieldWithLabel">
		<label for="id" class="label">Internal ID:</label>
		<input class="field" type="text" size="30" id="id" class="fieldInput" ng-model="obj.id" />
	</div>
	<div class="fieldWithLabel">
		<label for="category" class="label">Category:</label>
		<select class="field" id="category" ng-model="obj.category" ng-options="s.name for s in itemCategories">
		</select>
	</div>
	<div class="fieldWithLabel">
		<label for="displaytype" class="label">Display as:</label>
		<select class="field" id="displaytype" ng-model="obj.displaytype">
			<option value="0">Ordinary item</option>
			<option value="1">Quest item (yellow)</option>
			<option value="2">Legendary (green)</option>
			<option value="3">Extraordinary (blue)</option>
			<option value="4">Rare (purple)</option>
		</select>
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasManualPrice" ng-model="obj.hasManualPrice" ng-true-value="1" ng-false-value="0" />Item has manually specified store price</div>
	</div>
	<div class="fieldWithLabel">
		<label for="baseMarketCost" class="label">Base market cost (gold):</label>
		<input class="field" type="text" size="7" id="baseMarketCost" ng-readonly="obj.hasManualPrice == 0" class="fieldInput integer" ng-model="obj.baseMarketCost" title="The actual price is adjusted 15% depending on if the item is being bought or sold. Set to 0 to prohibit selling this item type (for example, for a quest item)." />
	</div>
	<div class="fieldWithLabel">
		<label for="marketCost_Sell" class="label">Actual price (gold):</label>
		<div class="field">
			<span>Sell: <input type="text" size="7" id="marketCost_Sell" class="fieldInput integer" ng-model="marketCost_Sell" readonly="readonly" /></span>
			<span>Buy: <input type="text" size="7" id="marketCost_Buy" class="fieldInput integer" ng-model="marketCost_Buy" readonly="readonly" /></span>
		</div>
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasEquipEffect" ng-model="obj.hasEquipEffect" />Has equip effect</div>
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasUseEffect" ng-model="obj.hasUseEffect" />Has use effect</div>
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasHitEffect" ng-model="obj.hasHitEffect" />Has effect on every hit</div>
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasKillEffect" ng-model="obj.hasKillEffect" />Has effect on every kill</div>
	</div>
</fieldset>
<fieldset class="fieldSet" id="hasEquipEffectDisplay" ng-ds-fade="obj.hasEquipEffect">
	<legend>When equipped</legend>
	<div class="fieldWithLabel">
		<label for="equip_boostMaxHP" class="label">Increase max HP:</label>
		<input type="text" size="5" id="equip_boostMaxHP" class="field fieldInput integer" ng-model="obj.equipEffect.increaseMaxHP" />
	</div>
	<div class="fieldWithLabel">
		<div class="label"><input type="checkbox" id="hasEquipEffect" ng-model="obj.hasEquipAPEffect" />Has AP effect</div>
	</div>
	<div class="fieldWithLabel" ng-ds-fade="obj.hasEquipAPEffect">
		<label for="equip_boostMaxAP" class="label">Increase max AP:</label>
		<input type="text" size="5" id="equip_boostMaxAP" class="field fieldInput integer" ng-model="obj.equipEffect.increaseMaxAP" />
	</div>
	<div class="fieldWithLabel" ng-ds-fade="obj.hasEquipAPEffect">
		<label for="equip_moveCostPenalty" class="label">Increase move cost (AP):</label>
		<input type="text" size="5" id="equip_moveCostPenalty" class="field fieldInput integer" ng-model="obj.equipEffect.increaseMoveCost" />
	</div>
	<div class="fieldWithLabel" ng-ds-fade="obj.hasEquipAPEffect">
		<label for="equip_increaseUseItemCost" class="label">Increase use item cost (AP):</label>
		<input class="field" type="text" size="5" id="equip_increaseUseItemCost" class="fieldInput integer" ng-model="obj.equipEffect.increaseUseItemCost" />
	</div>
	<div class="fieldWithLabel" ng-ds-fade="obj.hasEquipAPEffect">
		<label for="equip_increaseReequipCost" class="label">Increase re-equip cost (AP):</label>
		<input class="field" type="text" size="5" id="equip_increaseReequipCost" class="fieldInput integer" ng-model="obj.equipEffect.increaseReequipCost" />
	</div>
	<div class="fieldWithLabel" ng-ds-fade="!isWeapon">
		<label for="equip_attackCost" class="label">Increase attack cost (AP):</label>
		<input class="field" type="text" size="5" id="equip_attackCost" class="fieldInput integer" ng-model="obj.equipEffect.increaseAttackCost" />
	</div>
	<div class="fieldWithLabel" ng-show="isWeapon">
		<label for="equip_attackCost" class="label">Attack cost (AP):</label>
		<input class="field" type="text" size="5" id="equip_attackCost" class="fieldInput integer" ng-model="obj.equipEffect.increaseAttackCost" />
	</div>
	<div class="fieldWithLabel">
		<label for="equip_attackChance" class="label">Increase attack chance:</label>
		<div class="field"><input type="text" size="5" id="equip_attackChance" class="fieldInput integer" ng-model="obj.equipEffect.increaseAttackChance" />%</div>
	</div>
	<div class="fieldWithLabel">
		<label for="equip_attackDamage" class="label">Increase attack damage (range):</label>
		<div class="field">
			<input type="text" size="3" id="equip_attackDamage_Min" class="fieldInput integer" ng-model="obj.equipEffect.increaseAttackDamage.min" />
			-
			<input type="text" size="3" id="equip_attackDamage_Max" class="fieldInput integer" ng-model="obj.equipEffect.increaseAttackDamage.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="equip_criticalChance" class="label">Increase critical skill:</label>
		<div class="field"><input type="text" size="5" id="equip_criticalChance" class="fieldInput integer" ng-model="obj.equipEffect.increaseCriticalSkill" /></div>
	</div>
	<div class="fieldWithLabel" ng-show="isWeapon">
		<label for="equip_criticalMultiplier" class="label">Critical multiplier:</label>
		<input class="field" type="text" size="5" id="equip_criticalMultiplier" class="fieldInput integer" ng-model="obj.equipEffect.setCriticalMultiplier" />
	</div>
	<div class="fieldWithLabel">
		<label for="equip_blockChance" class="label">Increase block chance:</label>
		<div class="field"><input type="text" size="5" id="equip_blockChance" class="fieldInput integer" ng-model="obj.equipEffect.increaseBlockChance" />%</div>
	</div>
	<div class="fieldWithLabel">
		<label for="equip_damageResistance" class="label">Increase damage resistance:</label>
		<input class="field" type="text" size="5" id="equip_damageResistance" class="fieldInput integer" ng-model="obj.equipEffect.increaseDamageResistance" />
	</div>
	<div class="fieldWithLabel">
		<label for="equip_conditions" class="label">Apply actor condition</label>
		<table class="field" id="equip_conditions">
			<thead><tr>
				<th id="condition">Condition</th>
				<th id="magnitude">Magnitude</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="condition in obj.equipEffect.addedConditions">
					<td><input type="text" ng-model="condition.condition" class="fieldInput" /></td>
					<td><input type="text" size="3" ng-model="condition.magnitude" class="fieldInput integer" /></td>
					<td><a ng-click="removeCondition(obj.equipEffect.addedConditions, condition)">X</a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addCondition(obj.equipEffect.addedConditions)">Add</button>
	</div>
</fieldset>
<fieldset class="fieldSet" id="hasUseEffectDisplay" ng-ds-fade="obj.hasUseEffect">
	<legend>When used</legend>
	<div class="fieldWithLabel">
		<label for="use_boostHP" class="label">Boost current HP (range):</label>
		<div class="field">
			<input type="text" size="3" id="use_boostHP_Min" class="fieldInput integer" ng-model="obj.useEffect.increaseCurrentHP.min" />
			-
			<input type="text" size="3" id="use_boostHP_Max" class="fieldInput integer" ng-model="obj.useEffect.increaseCurrentHP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="use_boostAP" class="label">Boost current AP (range):</label>
		<div class="field">
			<input type="text" size="3" id="use_boostAP_Min" class="fieldInput integer" ng-model="obj.useEffect.increaseCurrentAP.min" />
			-
			<input type="text" size="3" id="use_boostAP_Max" class="fieldInput integer" ng-model="obj.useEffect.increaseCurrentAP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="use_conditionsSource" class="label">Apply actor condition</label>
		<table class="field" id="use_conditionsSource">
			<thead><tr>
				<th id="condition">Condition</th>
				<th id="magnitude">Magnitude</th>
				<th id="duration">Duration</th>
				<th id="chance">Chance</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="condition in obj.useEffect.conditionsSource">
					<td><input type="text" ng-model="condition.condition" class="fieldInput" /></td>
					<td><input type="text" size="3" ng-model="condition.magnitude" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.duration" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.chance" class="fieldInput" /></td>
					<td><a ng-click="removeCondition(obj.useEffect.conditionsSource, condition)">X</a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addCondition(obj.useEffect.conditionsSource)">Add</button>
	</div>
</fieldset>
<fieldset class="fieldSet" id="hasHitEffectDisplay" ng-ds-fade="obj.hasHitEffect">
	<legend>When making a successful hit</legend>
	<div class="fieldWithLabel">
		<label for="hit_boostHP" class="label">Boost current HP (range):</label>
		<div class="field">
			<input type="text" size="3" id="hit_boostHP_Min" class="fieldInput integer" ng-model="obj.hitEffect.increaseCurrentHP.min" />
			-
			<input type="text" size="3" id="hit_boostHP_Max" class="fieldInput integer" ng-model="obj.hitEffect.increaseCurrentHP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="hit_boostAP" class="label">Boost current AP (range):</label>
		<div class="field">
			<input type="text" size="3" id="hit_boostAP_Min" class="fieldInput integer" ng-model="obj.hitEffect.increaseCurrentAP.min" />
			-
			<input type="text" size="3" id="hit_boostAP_Max" class="fieldInput integer" ng-model="obj.hitEffect.increaseCurrentAP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="hit_conditionsSource" class="label">Apply actor condition to source</label>
		<table class="field" id="hit_conditionsSource">
			<thead><tr>
				<th id="condition">Condition</th>
				<th id="magnitude">Magnitude</th>
				<th id="duration">Duration</th>
				<th id="chance">Chance</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="condition in obj.hitEffect.conditionsSource">
					<td><input type="text" ng-model="condition.condition" class="fieldInput" /></td>
					<td><input type="text" size="3" ng-model="condition.magnitude" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.duration" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.chance" class="fieldInput" /></td>
					<td><a ng-click="removeCondition(obj.hitEffect.conditionsSource, condition)">X</a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addCondition(obj.hitEffect.conditionsSource)">Add</button>
	</div>
	<div class="fieldWithLabel">
		<label for="hit_conditionsTarget" class="label">Apply actor condition to target</label>
		<table class="field" id="hit_conditionsTarget">
			<thead><tr>
				<th id="condition">Condition</th>
				<th id="magnitude">Magnitude</th>
				<th id="duration">Duration</th>
				<th id="chance">Chance</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="condition in obj.hitEffect.conditionsTarget">
					<td><input type="text" ng-model="condition.condition" class="fieldInput" /></td>
					<td><input type="text" size="3" ng-model="condition.magnitude" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.duration" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.chance" class="fieldInput" /></td>
					<td><a ng-click="removeCondition(obj.hitEffect.conditionsTarget, condition)">X</a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addCondition(obj.hitEffect.conditionsTarget)">Add</button>
	</div>
</fieldset>
<fieldset class="fieldSet" id="hasKillEffectDisplay" ng-ds-fade="obj.hasKillEffect">
	<legend>On every kill</legend>
	<div class="fieldWithLabel">
		<label for="kill_boostHP" class="label">Boost current HP (range):</label>
		<div class="field">
			<input type="text" size="3" id="kill_boostHP_Min" class="fieldInput integer" ng-model="obj.killEffect.increaseCurrentHP.min" />
			-
			<input type="text" size="3" id="kill_boostHP_Max" class="fieldInput integer" ng-model="obj.killEffect.increaseCurrentHP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="kill_boostAP" class="label">Boost current AP (range):</label>
		<div class="field">
			<input type="text" size="3" id="kill_boostAP_Min" class="fieldInput integer" ng-model="obj.killEffect.increaseCurrentAP.min" />
			-
			<input type="text" size="3" id="kill_boostAP_Max" class="fieldInput integer" ng-model="obj.killEffect.increaseCurrentAP.max" />
		</div>
	</div>
	<div class="fieldWithLabel">
		<label for="kill_conditionsSource" class="label">Apply actor condition</label>
		<table class="field" id="kill_conditionsSource">
			<thead><tr>
				<th id="condition">Condition</th>
				<th id="magnitude">Magnitude</th>
				<th id="duration">Duration</th>
				<th id="chance">Chance</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="condition in obj.killEffect.conditionsSource">
					<td><input type="text" ng-model="condition.condition" class="fieldInput" /></td>
					<td><input type="text" size="3" ng-model="condition.magnitude" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.duration" class="fieldInput integer" /></td>
					<td><input type="text" size="3" ng-model="condition.chance" class="fieldInput" /></td>
					<td><a ng-click="removeCondition(obj.killEffect.conditionsSource, condition)">X</a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addCondition(obj.killEffect.conditionsSource)">Add</button>
	</div>
</fieldset>
<div class="endSets"> </div>
