<h3>Item Category</h3>
<fieldset class="fieldSet">
	<legend>General</legend>
	<div class="fieldWithLabel">
		<label for="id">Internal id:</label>
		<input type="text" size="30" id="id" ng-model="obj.id" class="field at-input-id"/>
	</div>
	<div class="fieldWithLabel">
		<label for="name">Display name:</label>
		<input type="text" size="30" id="name" ng-model="obj.name" class="field at-input-name"/>
	</div>
	<div class="fieldWithLabel">
		<label for="actionType">Action type:</label>
		<select class="field" id="actionType" ng-model="obj.actionType">
			<option value="0">Non-usable</option>
			<option value="1">Usable</option>
			<option value="2">Equippable</option>
		</select>
	</div>
	<div class="fieldWithLabel" ng-ds-fade="obj.actionType == 2">
		<label for="inventorySlot">Equippable inventory slot:</label>
		<select class="field" id="inventorySlot" ng-model="obj.inventorySlot">
			<option value="-1">None</option>
			<option value="0">Weapon</option>
			<option value="1">Shield</option>
			<option value="2">Head</option>
			<option value="3">Body</option>
			<option value="4">Hand</option>
			<option value="5">Feet</option>
			<option value="6">Neck</option>
			<option value="7">Ring</option>
		</select>
	</div>
	<div class="fieldWithLabel">
		<label for="size">Size:</label>
		<select class="field" id="size" ng-model="obj.size">
			<option value="0">None</option>
			<option value="1">Light</option>
			<option value="2">Standard</option>
			<option value="3">Large</option>
		</select>
	</div>
</fieldset>
<div class="endSets"> </div>
