<div id="dialog-import">
	<div id="description" class="importexport-description">This data corresponds to the files named res/values/content_*.xml in the source code.</div>
	Import as
	<select ng-model="selectedSection" ng-options="s.name for s in sections">
	</select>
	
	<div><textarea id="value" rows="9" cols="80" ng-model="content"></textarea></div>
	<button ng-click="importData()">Import</button>
	
	<div style="color: red;" ng-ds-fade="errorMsg">{{errorMsg}}</div>
	<div style="color: green;" ng-ds-fade="importedMsg">{{importedMsg}}</div>
</div>
