html, body 					{ margin:0; padding:0; } 
#top 						{ background-color: #a0c0ff; color: #eeeeee; }
#top #title 				{ font-size: 2em; float: left; text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px; vertical-align: middle; }
#top #version 				{ font-size: 10pt; margin-left: 3ex; }
.andorsTrailLogo 			{ background-image: url(logo.png); background-repeat: no-repeat; background-position: 3px 3px; padding:20px 0px 15px 50px; }
#top #buttons 				{ float: right; font-size: 1.2em; margin: 10px; }
.workarea 					{ margin: 5px; position: absolute; top: 54px; }
#left 						{ width: 250px; padding: 0px; font-size: 1em; }
#left .accordion-group 		{ background-color: #e0e0e0; border: 1px solid #bbb; margin-bottom: 6px; -moz-box-shadow: 4px 4px 5px #bbb; -webkit-box-shadow: 4px 4px 5px #bbb; box-shadow: 4px 4px 5px #bbb; }
#center 					{ left: 265px; right: 0; border-left: 2px #c0d0ff solid; padding-left: 5px; }

.hidden 					{ display: none; }

.at-input-id, .at-input-name	
							{ width: 200px; }
.at-input-stat, .at-input-stat-minmax, .at-input-quantity, .at-input-chance, .at-input-magnitude, .at-input-duration
							{ width: 50px; }
.at-input-gold				{ width: 80px; }

.workarea h3 				{ font-size: 18px; margin: 0 0 0 5px; }
.workarea legend 			{ font-size: 16px; margin: 0 0 5px 0; }
.workarea fieldset 			{ float:left; margin: 1ex; border-right: 1px solid #ddd; padding-right: 5px; }

.fieldWithLabel 			{ font-size: 0.9em; }
.fieldWithLabel label 		{ margin-top: 1.1ex; }
.endSets					{ clear: both; }

.itemlist					{ list-style: none; padding: 0px; margin: 0px; border: 1px solid #bbb; }
.itemlist li				{ padding: 2px 5px 2px 5px; }
.itemlist li img			{ float: left; margin-right: 0.5ex; }
.itemlist li:nth-child(odd)	{ background-color: #eee; }
.itemlist li:hover			{ background-color: #d7d7ff; cursor: pointer; }
.importexport-header		{ font-weight: bold; padding-top: 1ex; }
#dialog-importexport #value	{ font-family: monospace; font-size: 7pt; }
.fieldWithLabel table		{ border-collapse: collapse; margin-bottom: 1ex; }	
.fieldWithLabel table th	{ border: 1px #ccc solid; padding: 0.5ex; }
.fieldWithLabel table td	{ border: 1px #ccc solid; padding: 0.5ex; }
.fieldWithLabel table tbody tr:nth-child(even)	{ background-color: #eee }
.fieldWithLabel table tbody tr:hover	{ background-color: #d7d7ff; }
#dialogueTreeContainer		{ }
#dialogueTree				{ width: 400px; }
#dialogueData				{ }
.imageButton				{ padding: 5px; }
.importexport-description	{ padding: 15px; text-align: right; }
.tools-buttons				{ padding-bottom: 10px; }

.validateStep				{ border: 1px #d7d7ff solid; background-color: white; padding: 1em; margin: 2em; float: left; }
.validateStep h1			{ font-size: 1.1em; }
.validateStep h1 .number	{ font-size: 1.3em; font-weight: bold; text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px; }
.validateStep .buttons		{ padding-top: 10px; }

#validateResultContent table							{ border-collapse: collapse; margin-bottom: 1ex; }	
#validateResultContent table th,td						{ border: 1px #ccc solid; text-align: left; }
#validateResultContent table tbody tr:nth-child(even)	{ background-color: #eee }
#validateResultContent table .ok 						{ background-color: green; }
#validateResultContent table .red						{ background-color: red; }
#validateResultContent table .yellow					{ background-color: yellow; }
#showValidationWarnings			{ cursor: pointer; }
#showValidationWarnings:hover	{ background-color: #d7d7ff; }

.clickToEdit			{ cursor: pointer; }
.clickToEdit:hover		{ background-color: #d7d7ff; }

#validateResultContent	{ width: 400px; float: left; }
#editorForms 			{ width: 670px; float: right;}
#editorForms #translation_edit_list 			{ table-layout: fixed; }
#editorForms #translation_edit_list tr:nth-child(1)	{ width: 17em }
#editorForms #translation_edit_list tr:nth-child(2)	{ width: 8em }
#editorForms #translation_edit_list textarea	{ width: 100%; height: 8em; }

