#inputarea {
	height: 500px;
	overflow: auto;
}
.rowdiv {
	
}
.selectimage {
	width: 32px;
	height: 32px;
}
#invisible {
	display: none;
}
#datatable td {
	padding: 2px 10px 2px 10px;
	border-bottom: 1px black solid;
	background-color: #dddddd;
}
.editorbutton {
	margin-right: 20px;
}
