html, body 					{ margin:0; padding:0; } 
#top 						{ background-color: #a0c0ff; color: #eeeeee; }
#top #title 				{ font-size: 2em; float: left; text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px; vertical-align: middle; }
#top #version 				{ font-size: 10pt; margin-left: 3ex; }
.andorsTrailLogo 			{ background-image: url(logo.png); background-repeat: no-repeat; background-position: 3px 3px; padding:20px 0px 15px 50px; }
#top #buttons 				{ float: right; font-size: 1.2em; margin: 10px; }
.workarea 					{ margin: 5px; position: absolute; top: 54px; }
#left 						{ width: 250px; padding: 0px; font-size: 1em; }
#center 					{ left: 265px; right: 0; border-left: 2px #c0d0ff solid; padding-left: 5px; }

.hidden 					{ display: none; }

.at-input-id, .at-input-name
							{ width: 200px; }
.at-input-stat, .at-input-stat-minmax, .at-input-quantity, .at-input-chance, .at-input-magnitude, .at-input-duration
							{ width: 50px; }
.at-input-gold				{ width: 80px; }
.at-input-iconID			{ width: 120px; }
.at-input-icon				{ display: inline-block; vertical-align: top; }
.at-input-icon:hover		{ -moz-box-shadow: 0 0 15px blue; -webkit-box-shadow: 0 0 15px blue; box-shadow: 0 0 15px blue; }

.workarea h3 				{ font-size: 18px; margin: 0 0 0 5px; }
.workarea legend 			{ font-size: 16px; margin: 0 0 5px 0; }
.workarea fieldset 			{ float:left; margin: 1ex; border-right: 1px solid #ddd; padding-right: 5px; }
.workarea .endSets			{ clear: both; }

#left .accordion-group 		{ background-color: #e0e0e0; border: 1px solid #bbb; margin-bottom: 6px; -moz-box-shadow: 4px 4px 5px #bbb; -webkit-box-shadow: 4px 4px 5px #bbb; box-shadow: 4px 4px 5px #bbb; }
.itemlist					{ list-style: none; padding: 0px; margin: 0px; border: 1px solid #bbb; }
.itemlist li				{ padding: 2px 5px 2px 5px; }
.itemlist li img			{ float: left; margin-right: 0.5ex; }
.itemlist li:nth-child(odd)	{ background-color: #eee; }
.itemlist li:hover			{ background-color: #d7d7ff; cursor: pointer; }
.itemlist li img			{ float: left; }

.fieldWithLabel label 		{ margin-top: 1.1ex; }
.fieldWithLabel table		{ border-collapse: collapse; margin-bottom: 1ex; }	
.fieldWithLabel table th	{ border: 1px #ccc solid; padding: 0.5ex; }
.fieldWithLabel table td	{ border: 1px #ccc solid; padding: 0.5ex; }
.fieldWithLabel table tbody tr:nth-child(even)	{ background-color: #eee }
.fieldWithLabel table tbody tr:hover	{ background-color: #d7d7ff; }
table.tableeditor			{ margin-bottom: 20px; }

#dialogueTree ul 						{ padding-top: 20px; position: relative; margin-left: 0; }
#dialogueTree li 						{ float: left; text-align: center; list-style-type: none; position: relative; padding: 20px 5px 0 5px; }
#dialogueTree li::before, #dialogueTree li::after
										{ content: ''; position: absolute; top: 0; right: 50%; border-top: 1px solid #ccc; width: 50%; height: 20px; }
#dialogueTree li::after					{ right: auto; left: 50%; border-left: 1px solid #ccc; }
#dialogueTree li:only-child::after, #dialogueTree li:only-child::before
										{ display: none; }
#dialogueTree li:only-child				{ padding-top: 0; }
#dialogueTree li:first-child::before, #dialogueTree li:last-child::after
										{ border: 0 none; }
#dialogueTree li:last-child::before		{ border-right: 1px solid #ccc; border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; }
#dialogueTree li:first-child::after		{ border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; }
#dialogueTree ul ul::before				{ content: ''; position: absolute; top: 0; left: 50%; border-left: 1px solid #ccc; width: 0; height: 20px; }
#dialogueTree .dialogue-node			{ 
	border: 1px solid #ccc; padding: 5px 10px; text-decoration: none; display: inline-block; max-width: 80px; 
	box-shadow: 1px 1px 5px #bbb; -moz-box-shadow: 1px 1px 5px #bbb; -webkit-box-shadow: 1px 1px 5px #bbb;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#dialogueTree .dialogue-node-reply		{ background-color: #ddffdd; }
#dialogueTree .dialogue-node-loop		{ background-color: #ffdddd; }
#dialogueTree .dialogue-node-action		{ background-color: #ffffcc; }

.dialogueConditional 		{ color: #855; }

.tools-buttons				{ padding-bottom: 10px; }
#importExportTextArea		{ width: 500px; }

.validateStep				{ border: 1px #d7d7ff solid; background-color: white; padding: 1em; margin: 2em; float: left; }
.validateStep h1			{ font-size: 1.1em; }
.validateStep h1 .number	{ font-size: 1.3em; font-weight: bold; text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px; }
.validateStep .buttons		{ padding-top: 10px; }

#validateResultContent table							{ border-collapse: collapse; margin-bottom: 1ex; }	
#validateResultContent table th,td						{ border: 1px #ccc solid; text-align: left; }
#validateResultContent table tbody tr:nth-child(even)	{ background-color: #eee }
#validateResultContent table .ok 						{ background-color: green; }
#validateResultContent table .red						{ background-color: red; }
#validateResultContent table .yellow					{ background-color: yellow; }
#showValidationWarnings			{ cursor: pointer; }
#showValidationWarnings:hover	{ background-color: #d7d7ff; }

.clickToEdit			{ cursor: pointer; }
.clickToEdit:hover		{ background-color: #d7d7ff; }

#validateResultContent	{ width: 400px; float: left; }
#editorForms 			{ width: 670px; float: right;}
#editorForms #translation_edit_list 			{ table-layout: fixed; }
#editorForms #translation_edit_list tr:nth-child(1)	{ width: 17em }
#editorForms #translation_edit_list tr:nth-child(2)	{ width: 8em }
#editorForms #translation_edit_list textarea	{ width: 100%; height: 8em; }

