<?xml version="1.0" encoding="utf-8"?>

<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	package="com.gpl.rpg.AndorsTrail"
	android:versionCode="39"
	android:versionName="0.7.1dev"
	android:installLocation="auto"
	>
	<uses-sdk 
		android:minSdkVersion="4" 
		android:targetSdkVersion="17"
		/>
	
	<supports-screens
		android:smallScreens="true" 
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"
		/>
	
	<uses-permission 
	    android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
	    />
		
	<application 
		android:name=".AndorsTrailApplication" 
		android:label="@string/app_name" 
		android:icon="@drawable/icon"
		android:description="@string/app_description"
        android:allowBackup="true"
		>
		<activity 
		    android:name=".activity.StartScreenActivity" 
		    android:clearTaskOnLaunch="true"
		    >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
   		<activity 
			android:name=".activity.MainActivity" 
			android:label="@string/app_name" 
			android:theme="@style/Theme.NoBackground"
			/>
		<activity android:name=".activity.HeroinfoActivity" />
		<activity android:name=".activity.MonsterInfoActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.ItemInfoActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.LevelUpActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.MonsterEncounterActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.ConversationActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.ShopActivity" />
		<activity android:name=".activity.AboutActivity" />
		<activity android:name=".activity.LoadingActivity" />
		<activity android:name=".activity.Preferences" />
		<activity android:name=".activity.LoadSaveActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.ActorConditionInfoActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.BulkSelectionInterface" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.SkillInfoActivity" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".activity.DisplayWorldMapActivity" />
	</application>
	
</manifest>
