<h3>Quest</h3>
<fieldset>
	<legend>General</legend>
	<div class="fieldWithLabel">
		<label for="id" class="hint  hint--top" data-hint="This id will not be displayed to the player. Prefer short but descriptive ids since it keeps the savegames smaller.">Internal ID:</label>
		<input type="text" size="30" id="id" class="field at-input-id" ng-model="obj.id" />
	</div>
	<div class="fieldWithLabel">
		<label for="name">Display name:</label>
		<input type="text" size="30" id="name" class="field at-input-name" ng-model="obj.name" />
	</div>
	<div class="fieldWithLabel">
		<label class="checkbox"><input type="checkbox" id="showInLog" ng-model="obj.showInLog" ng-true-value="1" ng-false-value="0" />Show in quest log</label>
	</div>
</fieldset>
<fieldset>
	<legend>Stages</legend>
	<div class="fieldWithLabel">
		<label for="stages">Stages shown in quest log</label>
		<table class="field" id="stages">
			<thead><tr>
				<th><span class="hint  hint--top" data-hint="This number will not be displayed to the player. Must be some unique number for this quest though. Prefer values from 10-100.">Progress</span></th>
				<th>Logtext</th>
				<th><span class="hint  hint--top" data-hint="Reaching this quest stage gives this much experience">Experience</span></th>
				<th>Finishes quest</th>
				<th></th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="stage in obj.stages">
					<td><input type="text" size="3" ng-model="stage.progress" class="at-input-stat"/></td>
					<td><textarea rows="2" cols="40" ng-model="stage.logText"></textarea></td>
					<td><input type="text" size="7" ng-model="stage.rewardExperience" class="at-input-stat"/></td>
					<td><input type="checkbox" ng-model="stage.finishesQuest" ng-true-value="1" ng-false-value="0" /></td>
					<td><a ng-click="removeQuestStage(stage)" class="btn btn-mini" title="Remove row"><i class="icon-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addQuestStage()" class="btn" title="Add row"><i class="icon-plus-sign"></i> Add</button>
	</div>
</fieldset>
<div class="endSets"> </div>
