<h3>Export</h3>
<fieldset>
	Export
	<select ng-model="selectedSection" ng-options="s.name for s in sections">
	</select>
	
	<button ng-click="exportData()" class="btn btn-primary"><i class="icon-download"></i> Export</button>
	
	<p> </p>
	
	<div ng-ds-fade="content">
		<textarea id="importExportTextArea" rows="9" cols="80" ng-model="content"></textarea>
		<br /><br />
		<p>Exported data should be placed in the files named <a href="http://code.google.com/p/andors-trail/source/browse/#git%2FAndorsTrail%2Fres">res/raw/*.json</a> in the source code.</p>
	</div>
</div>
