<h3>Dialogue Tree</h3>

<div id="dialogueTree" class="tree">
	<ul><li>
	<treenode node="node" onclick="onclick"><div>
		<div class="dialogue-node dialogue-node-{{node.type}} clickToEdit" ng-click="onclick(node)" title="{{node.text}}">
			<span ng-show="node.type=='loop'"><i class="icon-repeat"></i> (conversation loop)</span>
			<span ng-show="node.type=='action'"><i class="icon-play"></i> (action)</span>
			<span ng-show="node.type=='reply'">{{node.text}}</span>
			<span ng-show="node.type=='phrase'">{{node.text}}</span>
		</div>
		<ul ng-show="node.children.length > 0">
			<li ng-repeat="child in node.children"><treenode node="child" onclick="onclick"></treenode></li>
		</ul>
	</div></treenode>
	</li></ul>
</div>
